menu "Find My Cat main configuration"

config LTE_CONNECT_RETRY_DELAY_S
	int "Seconds to delay before attempting to retry LTE connection"
	default 20

config LTE_CONNECT_MAX_RETRIES
	int "Max retry attempts for LTE connection"
	default 4

config MQTT_SN_GATEWAY_IP
	string "IP of the MQTT-SN gateway"

config MQTT_SN_GATEWAY_PORT
	int "Port of the MQTT-SN gateway"

config MQTT_SN_BUFFER_SIZE
	int "Size of the TX and RX buffers"
	default 255

config MQTT_SN_REFRESH_PERIOD_SECONDS
	int "MQTT-SN refresh period in seconds"
	default 60

config LOCATION_SERVICES_INIT_MAX_RETRIES
	int "Max retry attempts for location services initialization"
	default 4

config LOCATION_SERVICES_INIT_RETRY_DELAY_S
	int "Seconds to delay before attempting to retry location services initialization"
	default 20

config DEVICE_ID
	string "Device ID"
	default "nrf9160"

config LOCATION_REFRESH_PERIOD_SECONDS
	int "Location refresh period in seconds"
	default 60	

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = FINDMYCAT_OUTDOOR_LOCATION_ENGINE
module-str = FindMyCat outdoor location engine
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"