#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Ble Scanner"

config MQTT_SAMPLE_BLE_SCANNER_THREAD_STACK_SIZE
	int "Thread stack size"
	default 2048

config MQTT_SAMPLE_BLE_SCANNER_TIMEOUT_SECONDS
	int "Trigger timer timeout"
	default 60


module = MQTT_SAMPLE_BLE_SCANNER
module-str = BLE_SCANNER
source "subsys/logging/Kconfig.template.log_config"

endmenu # Trigger
